<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>IntroductionServlet</servlet-name>
        <servlet-class>ru.quest.IntroductionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntroductionServlet</servlet-name>
        <url-pattern>/introduction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.quest.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
</web-app>